@charset "UTF-8";
/* Variables */
.menu {
  width: 100%;
}
.menu ul {
  display: flex;
  text-decoration: none;
  justify-content: center;
  gap: 10px;
  margin: 0;
}
.menu ul li {
  list-style-type: none;
  font-size: 16px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
}
.menu ul li a:hover {
  color: #D8B4E2;
}

.menuOtro ul li a {
  color: #210B2C;
}
.menuOtro ul li a:hover {
  color: purple;
}

.header {
  display: flex;
  width: 100%;
  background-color: #210B2C;
  border-bottom: 2px solid #D8B4E2;
  align-items: center;
}

.headerOtro {
  background-color: #D8B4E2;
  border-bottom: 2px solid #210B2C;
}

.logo {
  display: flex;
  width: 50%;
  justify-content: center;
}

.footer1 {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #210B2C;
  padding: 20px;
  border-top: solid 2px #D8B4E2;
  justify-content: space-evenly;
  align-items: center;
}
.footer1 p {
  text-align: center;
  color: white;
}
.footer1 .linksFooter a {
  color: white;
  padding: 10px;
}

.contenedorTotal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 1fr 2fr 1fr 0.2fr;
  grid-template-areas: "header header header" "encabezado encabezado encabezado" "testimonio testimonio testimonio" "testimonio2 testimonio2 testimonio2" "footer footer footer";
}

.testimoniosHeader {
  grid-area: header;
  background-color: #D8B4E2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.encabezadosTestimonios {
  display: flex;
  flex-direction: column;
  background-color: #210B2C;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.encabezadosTestimonios h1 {
  font-size: 48px;
  color: #D8B4E2;
}
.encabezadosTestimonios h2 {
  font-size: 24px;
  font-style: italic;
  font-weight: 0px;
  color: white;
}

.mainTestimonios {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.boxTestimonios {
  background-color: #D8B4E2;
  padding: 20px;
  margin: 20px;
  width: 300px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #210B2C;
}

.imagenTestimonios {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.testimoniosSecundarios {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
.testimoniosSecundarios p {
  color: white;
  padding: 15px;
}

.testimoniosecundarioDiv {
  width: 20%;
  background-color: #210B2C;
  border-radius: 15px;
  padding: 10px;
}

.testimonioDiv {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-items: center;
  align-items: center;
  color: #210B2C;
}
.testimonioDiv div {
  width: 50%;
}
.testimonioDiv img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

.imageBlog1 {
  margin: 15px;
  width: 300px;
  height: 200px;
}

.imageBlog2 {
  margin: 15px;
  width: 150px;
  height: 100px;
}

.parrafoTarjetaBlog {
  margin: 15px;
}

.encabezadoTarjetaBlog {
  margin: 15px;
}

.enlaceTarjetaBlog {
  margin: 15px;
}

.mainBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  background-color: #210B2C;
}
.mainBlog h1 {
  font-size: 42px;
  color: #D8B4E2;
}
.mainBlog h2 {
  font-size: 24px;
  color: white;
  font-style: italic;
}

.blogPosts {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.blogPosts .testOverflow1 {
  background-color: #D8B4E2;
  font-size: 16px;
  width: 50%;
  height: 500px;
  overflow: auto;
  padding-bottom: 15px;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #210B2C;
}
.blogPosts .testOverflow2 {
  width: 50%;
  margin: 10px;
}
.blogPosts .testOverflow2 .testOverflow3 {
  background-color: #D8B4E2;
  font-size: 16px;
  overflow: auto;
  padding-bottom: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #210B2C;
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #210B2C;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h3 {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-family: "Poppins", sans-serif;
}

h5 {
  font-family: "Poppins", sans-serif;
}

h6 {
  font-family: "Poppins", sans-serif;
}

.mainContacto {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #210B2C;
  align-items: center;
  gap: 50px;
}

#mainServiciosImg {
  border-radius: 10%;
  width: 60%;
}

.mainContacto1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #210B2C;
  padding: 20px;
  height: 400px;
}
.mainContacto1 h1 {
  font-size: 42px;
  color: #D8B4E2;
}
.mainContacto1 h2 {
  font-size: 24px;
  font-style: italic;
  color: white;
}
.mainContacto1 p {
  color: white;
}

.imagenContacto {
  width: 100px;
}

.formContacto {
  width: 40%;
  text-align: center;
  background-color: #D8B4E2;
  color: white;
  padding: 50px;
  margin-bottom: 50px;
}
.formContacto label {
  display: flex;
  flex-direction: column;
}
.formContacto a {
  color: #D8B4E2;
}

.imagen1servicio {
  grid-area: imagen1;
  background-image: url(../images/Desarrollo-Web.jpg);
  background-position: center;
}

.imagen2servicio {
  grid-area: imagen2;
  background-image: url(../images/Desarrollo-apps.jpg);
}

.imagen3servicio {
  grid-area: imagen3;
  background-image: url(../images/seo.jpeg);
  background-size: contain;
}

.imagen4servicio {
  grid-area: imagen4;
  background-image: url(../images/wordpress.jpeg);
  background-size: contain;
}

.tablaServicios {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.galeriaServicios {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 150px);
  grid-template-areas: "imagen1 imagen2 imagen2" "imagen1 imagen3 imagen4";
  width: 100%;
  justify-content: center;
  gap: 15px;
  padding: 50px 0 50px 0;
}

.sectionServicios {
  display: flex;
  width: 100%;
  background-color: #D8B4E2;
  padding: 20px;
}

.serviciosDiv1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.serviciosDiv1 a {
  font-size: 16px;
}

.serviciosDiv2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionServicios3 {
  margin: 20px 0 20px 0;
}

.sectionTable {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.sectionTable .divTable {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 50px 0;
  width: 80%;
}

.mainSection {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  background-color: #210B2C;
}
.mainSection .DivH1 {
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mainSection .DivH1 h1 {
  font-size: 48px;
  color: #D8B4E2;
}
.mainSection .DivH1 p {
  text-align: center;
  color: white;
}
.mainSection .DivH1 a {
  text-align: center;
  color: #D8B4E2;
  font-size: 20px;
}
.mainSection .DivH1Img {
  width: 50%;
  padding: 20px;
  text-align: center;
}
.mainSection .DivH1Img img {
  border-radius: 15px;
  max-width: 500px;
}

.Section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  background-color: none;
}
.Section1 .DivH2 {
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Section1 .DivH2 h2 {
  font-size: 32px;
  color: #D8B4E2;
}
.Section1 .DivH2 p {
  text-align: center;
  color: #210B2C;
}
.Section1 .DivH2Img {
  width: 40%;
  padding: 20px;
  text-align: center;
}
.Section1 .DivH2Img img {
  border-radius: 15px;
  max-width: 500px;
}

.Section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  background-color: none;
}
.Section2 .DivH2 {
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Section2 .DivH2 h2 {
  font-size: 32px;
  color: #D8B4E2;
}
.Section2 .DivH2 p {
  text-align: center;
  color: #210B2C;
}
.Section2 .DivH2Img {
  width: 40%;
  padding: 20px;
  text-align: center;
}
.Section2 .DivH2Img img {
  border-radius: 15px;
  max-width: 500px;
}

.SectionVideo {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
}
.SectionVideo h2 {
  font-size: 32px;
  color: #D8B4E2;
}

#videoHome {
  height: 500px;
  width: 800px;
  text-align: center;
  padding: 20px 0;
}

/* Media queries mobile 480px */
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
  }
  .header ul {
    gap: 8px;
  }
  .mainSection {
    flex-direction: column;
    padding-top: 50px;
  }
  .mainSection .DivH1 {
    width: 80%;
  }
  .mainSection .DivH1 .h1class {
    font-size: 24px;
  }
  .mainSection .DivH1Img {
    width: 80%;
  }
  .mainSection .DivH1Img img {
    width: 100%;
  }
  .Section1 {
    flex-direction: column-reverse;
    padding-top: 50px;
  }
  .Section1 .DivH2 {
    width: 80%;
  }
  .Section1 .DivH2 h2 {
    font-size: 22px;
  }
  .Section1 .DivH2Img {
    width: 80%;
  }
  .Section1 .DivH2Img img {
    width: 100%;
  }
  .Section2 {
    flex-direction: column;
    padding-top: 50px;
  }
  .Section2 .DivH2 {
    width: 80%;
  }
  .Section2 .DivH2 h2 {
    font-size: 22px;
  }
  .Section2 .DivH2Img {
    width: 80%;
  }
  .Section2 .DivH2Img img {
    width: 100%;
  }
  .SectionVideo h2 {
    font-size: 22px;
    color: #D8B4E2;
  }
  .SectionVideo #videoHome {
    height: 300px;
    width: auto;
  }
  .footer1 {
    flex-direction: column;
    height: auto;
  }
  /* media queries de página de Testimonios */
  .encabezadosTestimonios {
    flex-direction: column;
  }
  .encabezadosTestimonios h1 {
    font-size: 24px;
  }
  .encabezadosTestimonios h2 {
    font-size: 20px;
  }
  .mainTestimonios {
    flex-direction: column;
  }
  .testimoniosSecundarios {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  .testimoniosecundarioDiv {
    width: 80%;
  }
  /* Contacto queries mobile */
  .mainContacto {
    flex-direction: column;
    height: auto;
    padding: 50px 10px;
  }
  .mainContacto h1 {
    font-size: 24px;
  }
  .mainContacto h2 {
    font-size: 16px;
  }
  .formContacto {
    width: 100%;
    padding: 20px;
  }
  /* Blog queries mobile */
  .mainBlog .h1blog {
    font-size: 24px;
  }
  .mainBlog h2 {
    font-size: 16px;
    width: 80%;
  }
  .blogPosts {
    flex-direction: column;
  }
  .blogPosts .testOverflow1 {
    width: 90%;
  }
  .blogPosts .testOverflow2 {
    width: 90%;
  }
  /* media queries servicios mobile */
  .mainServicios {
    flex-direction: column;
    gap: 15px;
  }
  .galeriaServicios {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    padding: 10px;
    grid-template-areas: "imagen1 imagen2 imagen2" "imagen1 imagen3 imagen3";
  }
}
/* Media queries tablet 768px */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .header {
    flex-direction: column;
  }
  .header ul {
    gap: 8px;
  }
  .mainSection {
    flex-direction: column;
    padding-top: 50px;
  }
  .mainSection .DivH1 {
    width: 80%;
  }
  .mainSection .DivH1 .h1class {
    font-size: 24px;
  }
  .mainSection .DivH1Img {
    width: 80%;
  }
  .mainSection .DivH1Img img {
    width: 100%;
  }
  .Section1 {
    flex-direction: column-reverse;
    padding-top: 50px;
  }
  .Section1 .DivH2 {
    width: 80%;
  }
  .Section1 .DivH2 h2 {
    font-size: 22px;
  }
  .Section1 .DivH2Img {
    width: 80%;
  }
  .Section1 .DivH2Img img {
    width: 100%;
  }
  .Section2 {
    flex-direction: column;
    padding-top: 50px;
  }
  .Section2 .DivH2 {
    width: 80%;
  }
  .Section2 .DivH2 h2 {
    font-size: 22px;
  }
  .Section2 .DivH2Img {
    width: 80%;
  }
  .Section2 .DivH2Img img {
    width: 100%;
  }
  .SectionVideo h2 {
    font-size: 22px;
    color: #D8B4E2;
  }
  .SectionVideo #videoHome {
    height: 400px;
    width: 600px;
  }
  .footer1 {
    flex-direction: column;
    height: auto;
  }
  /* media queries de página de Testimonios tablet */
  .encabezadosTestimonios {
    flex-direction: column;
  }
  .encabezadosTestimonios h1 {
    font-size: 24px;
  }
  .encabezadosTestimonios h2 {
    font-size: 20px;
  }
  .mainTestimonios {
    flex-direction: column;
  }
  .mainTestimonios .boxTestimonios {
    width: 80%;
  }
  .testimoniosSecundarios {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  .testimoniosecundarioDiv {
    width: 80%;
  }
  /* Contacto queries tablet */
  .mainContacto {
    flex-direction: column;
    height: auto;
    padding: 50px 10px;
  }
  .mainContacto h1 {
    font-size: 24px;
  }
  .mainContacto h2 {
    font-size: 16px;
  }
  .formContacto {
    width: 80%;
    padding: 20px;
  }
  /* Blog queries tablet */
  .mainBlog .h1blog {
    font-size: 24px;
  }
  .mainBlog h2 {
    font-size: 16px;
    width: 80%;
  }
  .blogPosts {
    flex-direction: column;
  }
  .blogPosts .testOverflow1 {
    width: 90%;
  }
  .blogPosts .testOverflow2 {
    width: 90%;
  }
  /* media queries servicios tablet */
  .mainServicios {
    flex-direction: column;
    gap: 15px;
  }
  .galeriaServicios {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px);
    gap: 10px;
    padding: 10px;
    grid-template-areas: "imagen1 imagen2" "imagen1 imagen3";
  }
}

/*# sourceMappingURL=styles.css.map */
