.imageBlog1 {
    margin: 15px;
    width: 300px;
    height: 200px;
}

.imageBlog2 {
    margin: 15px;
    width: 150px;
    height: 100px;
}

.parrafoTarjetaBlog {
    margin: 15px;
}

.encabezadoTarjetaBlog {
    margin: 15px;
}

.enlaceTarjetaBlog {
    margin: 15px;
}

