.menu {
    width: 100%;

    ul {
        display: flex;
        text-decoration: none;
        justify-content: center;
        gap: 10px;
        margin: 0;

        li {
            list-style-type: none;
            font-size: 16px;

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: $colorSecundario
                }
            }
        }
    }
}

.menuOtro {
    ul {
        li {
            a {
                color: $colorPrincipal;

                &:hover {
                    color: purple;
                }
            }
        }
    }
}

.header {
    display: flex;
    width: 100%;
    background-color: $colorPrincipal;
    border-bottom: 2px solid $colorSecundario;
    align-items: center;
}

.headerOtro {
    background-color: $colorSecundario;
    border-bottom: 2px solid $colorPrincipal;
}

.logo {
    display: flex;
    width: 50%;
    justify-content: center;
}