.contenedorTotal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 1fr 2fr 1fr 0.2fr;
    grid-template-areas:
        "header header header"
        "encabezado encabezado encabezado"
        "testimonio testimonio testimonio"
        "testimonio2 testimonio2 testimonio2"
        "footer footer footer";
}

.testimoniosHeader {
    grid-area: header;
    background-color: #D8B4E2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.encabezadosTestimonios {
    display: flex;
    flex-direction: column;
    background-color: #210B2C;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    h1 {
        font-size: 48px;
        color: $colorSecundario;
    }
    h2 {
        font-size: 24px;
        font-style: italic;
        font-weight: 00px;
        color: white;
    }
}

.mainTestimonios {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.boxTestimonios {
    background-color: #D8B4E2;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #210B2C;
}

.imagenTestimonios {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.testimoniosSecundarios {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    p {
        color: white;
        padding: 15px;
    }
}


.testimoniosecundarioDiv {
    width: 20%;
    background-color: #210B2C;
    border-radius: 15px;
    padding: 10px;
}

.testimonioDiv {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-items: center;
    align-items: center;
    color: #210B2C;
    div {
        width: 50%;
    }
    img {
        width: 80px;
        height: 80px;
        border-radius: 15px;
    }
}

