@import "variables";
@import "headers";
@import "footers";
@import "testimonios";
@import "blog";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #210B2C;
    text-align: center;
    font-size: 40px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-family: 'Poppins', sans-serif;
}

h5 {
    font-family: 'Poppins', sans-serif;
}

h6 {
    font-family: 'Poppins', sans-serif;
}

.mainContacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $colorPrincipal;
    align-items: center;
    gap: 50px;
}

#mainServiciosImg {
    border-radius: 10%;
    width: 60%;
}

.mainContacto1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #210B2C;
    padding: 20px;
    height: 400px;

    h1 {
        font-size: 42px;
        color: $colorSecundario;
    }

    h2 {
        font-size: 24px;
        font-style: italic;
        color: white;
    }

    p {
        color: white;
    }
}

.imagenContacto {
    width: 100px;
}

.formContacto {
    width: 40%;
    text-align: center;
    background-color: $colorSecundario;
    color: white;
    padding: 50px;
    margin-bottom: 50px;

    label {
        display: flex;
        flex-direction: column;
    }

    a {
        color: $colorSecundario;
    }
}

.imagen1servicio {
    grid-area: imagen1;
    background-image: url(../images/Desarrollo-Web.jpg);
    background-position: center;
}

.imagen2servicio {
    grid-area: imagen2;
    background-image: url(../images/Desarrollo-apps.jpg);
}

.imagen3servicio {
    grid-area: imagen3;
    background-image: url(../images/seo.jpeg);
    background-size: contain;
}

.imagen4servicio {
    grid-area: imagen4;
    background-image: url(../images/wordpress.jpeg);
    background-size: contain;

}

.tablaServicios {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}


.galeriaServicios {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 150px);
    grid-template-areas:
        "imagen1 imagen2 imagen2"
        "imagen1 imagen3 imagen4";
    width: 100%;
    justify-content: center;
    gap: 15px;
    padding: 50px 0 50px 0;
}

.sectionServicios {
    display: flex;
    width: 100%;
    background-color: $colorSecundario;
    padding: 20px;
}

.serviciosDiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        font-size: 16px;
    }
}

.serviciosDiv2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionServicios3 {
    margin: 20px 0 20px 0;
}

.sectionTable {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
    justify-items: center;
    align-items: center;
    .divTable {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 50px 0;
        width: 80%;
    }
}


.mainSection {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    background-color: #210B2C;

    .DivH1 {
        width: 50%;
        align-items: center;
        justify-content: center;
        text-align: center;

        h1 {
            font-size: 48px;
            color: $colorSecundario;
        }

        p {
            text-align: center;
            color: white;
        }

        a {
            text-align: center;
            color: $colorSecundario;
            font-size: 20px;
        }
    }

    .DivH1Img {
        width: 50%;
        padding: 20px;
        text-align: center;

        img {
            border-radius: 15px;
            max-width: 500px;
        }
    }
}


.Section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    background-color: none;

    .DivH2 {
        width: 50%;
        align-items: center;
        justify-content: center;
        text-align: center;

        h2 {
            font-size: 32px;
            color: $colorSecundario;
        }

        p {
            text-align: center;
            color: $colorPrincipal;
        }
    }

    .DivH2Img {
        width: 40%;
        padding: 20px;
        text-align: center;

        img {
            border-radius: 15px;
            max-width: 500px;
        }
    }
}

.Section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    background-color: none;

    .DivH2 {
        width: 50%;
        align-items: center;
        justify-content: center;
        text-align: center;

        h2 {
            font-size: 32px;
            color: $colorSecundario;
        }

        p {
            text-align: center;
            color: $colorPrincipal;
        }
    }

    .DivH2Img {
        width: 40%;
        padding: 20px;
        text-align: center;

        img {
            border-radius: 15px;
            max-width: 500px;
        }
    }

}

.SectionVideo {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;

    h2 {
        font-size: 32px;
        color: $colorSecundario;
    }
}

#videoHome {
    height: 500px;
    width: 800px;
    text-align: center;
    padding: 20px 0;
}


/* Media queries mobile 480px */
@media screen and (max-width: 480px) {

    .header {
        flex-direction: column;
        ul {
            gap: 8px
        }
    }

    .mainSection {
        flex-direction: column;
        padding-top: 50px;

        .DivH1 {
            width: 80%;

            .h1class {
                font-size: 24px;
            }
        }

        .DivH1Img {
            width: 80%;

            img {
                width: 100%;
            }
        }
    }

    .Section1 {
        flex-direction: column-reverse;
        padding-top: 50px;

        .DivH2 {
            width: 80%;

            h2 {
                font-size: 22px;
            }
        }

        .DivH2Img {
            width: 80%;

            img {
                width: 100%;
            }
        }
    }

    .Section2 {
        flex-direction: column;
        padding-top: 50px;

        .DivH2 {
            width: 80%;

            h2 {
                font-size: 22px;
            }
        }

        .DivH2Img {
            width: 80%;

            img {
                width: 100%;
            }
        }
    }

    .SectionVideo {
        h2 {
            font-size: 22px;
            color: $colorSecundario;
        }

        #videoHome {
            height: 300px;
            width: auto;
        }
    }

    .footer1 {
        flex-direction: column;
        height: auto;
    }

    /* media queries de página de Testimonios */
   
    .encabezadosTestimonios {
        flex-direction: column;
    }

    .encabezadosTestimonios h1 {
        font-size: 24px;
    }

    .encabezadosTestimonios h2 {
        font-size: 20px;
    }

    .mainTestimonios {
        flex-direction: column;
    }

    .testimoniosSecundarios {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
    }

    .testimoniosecundarioDiv {
        width: 80%;
    }

    /* Contacto queries mobile */

    .mainContacto {
        flex-direction: column;
        height: auto;
        padding: 50px 10px;
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 16px;
        }
    }

    .formContacto {
        width: 100%;
        padding: 20px;
    }

    /* Blog queries mobile */

    .mainBlog {
    
        .h1blog {
            font-size: 24px;
        }
    
        h2 {
            font-size: 16px;
            width: 80%;
        }
    }

    .blogPosts {
        flex-direction: column;
        .testOverflow1 {
            width: 90%;
        }
        .testOverflow2 {
            width: 90%;
        }
    }

    /* media queries servicios mobile */

    .mainServicios {
        flex-direction: column;
        gap: 15px;
    }

    .galeriaServicios {
        display: grid;
        grid-template-columns: repeat(2, 130px);
        grid-template-rows: repeat(2, 150px);
        gap: 10px;
        padding: 10px;
        grid-template-areas:
            "imagen1 imagen2 imagen2"
            "imagen1 imagen3 imagen3"
        ;
    }

}

/* Media queries tablet 768px */

@media screen and (max-width: 768px) and (min-width: 481px) {

    .header {
        flex-direction: column;
        ul {
            gap: 8px
        }
    }

    .mainSection {
        flex-direction: column;
        padding-top: 50px;

        .DivH1 {
            width: 80%;

            .h1class {
                font-size: 24px;
            }
        }

        .DivH1Img {
            width: 80%;

            img {
                width: 100%;
            }
        }
    }

    .Section1 {
        flex-direction: column-reverse;
        padding-top: 50px;

        .DivH2 {
            width: 80%;

            h2 {
                font-size: 22px;
            }
        }

        .DivH2Img {
            width: 80%;

            img {
                width: 100%;
            }
        }
    }

    .Section2 {
        flex-direction: column;
        padding-top: 50px;

        .DivH2 {
            width: 80%;

            h2 {
                font-size: 22px;
            }
        }

        .DivH2Img {
            width: 80%;

            img {
                width: 100%;
            }
        }
    }

    .SectionVideo {
        h2 {
            font-size: 22px;
            color: $colorSecundario;
        }

        #videoHome {
            height: 400px;
            width: 600px;
        }
    }

    .footer1 {
        flex-direction: column;
        height: auto;
    }

    /* media queries de página de Testimonios tablet */
   
    .encabezadosTestimonios {
        flex-direction: column;
    }

    .encabezadosTestimonios h1 {
        font-size: 24px;
    }

    .encabezadosTestimonios h2 {
        font-size: 20px;
    }

    .mainTestimonios {
        flex-direction: column;
        .boxTestimonios {
            width: 80%;
        }
    }

    .testimoniosSecundarios {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
    }

    .testimoniosecundarioDiv {
        width: 80%;
    }

    /* Contacto queries tablet */

    .mainContacto {
        flex-direction: column;
        height: auto;
        padding: 50px 10px;
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 16px;
        }
    }

    .formContacto {
        width: 80%;
        padding: 20px;
    }

    /* Blog queries tablet */

    .mainBlog {
    
        .h1blog {
            font-size: 24px;
        }
    
        h2 {
            font-size: 16px;
            width: 80%;
        }
    }

    .blogPosts {
        flex-direction: column;
        .testOverflow1 {
            width: 90%;
        }
        .testOverflow2 {
            width: 90%;
        }
    }

    /* media queries servicios tablet */

    .mainServicios {
        flex-direction: column;
        gap: 15px;
    }

    .galeriaServicios {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 300px);
        gap: 10px;
        padding: 10px;
        grid-template-areas:
            "imagen1 imagen2"
            "imagen1 imagen3"
        ;
    }

}
